global:
  scrape_interval:     15s # Set the scrape interval to every 15 seconds. Default is every 1 minute.
  evaluation_interval: 15s # Evaluate rules every 15 seconds. The default is every 1 minute.
  # scrape_timeout is set to the global default (10s).

# Load rules once and periodically evaluate them according to the global 'evaluation_interval'.
rule_files:
  - node.rules.yml

# Alertmanager configuration
alerting:
  alertmanagers:
  - static_configs:
    - targets:
       - localhost:9093

# A scrape configuration containing exactly one endpoint to scrape:
# Here it's Prometheus itself.
scrape_configs:
  - job_name: 'node_exporter'
    scrape_interval: 5s
    static_configs:
    {% for host in groups['node_exporters'] %}

    - targets: ['{{ host }}:9100']
      labels:
        instance: "{{ host }}"

    {% endfor %}

  - job_name: 'gitlab_runner_exporter'
    scrape_interval: 5s
    static_configs:
    {% for host in groups['gitlab_runners'] %}
    {% if 'runner2' not in host %}

    - targets: ['{{ host }}:{{ gitlab_runner_exporter_port }}']
      labels:
        instance: "{{ host }}"

    {% endif %}
    {% endfor %}

  - job_name: 'gitlab_exporter'
    scrape_interval: 5s
    scheme: https
    metrics_path: "-/metrics"
    params:
      token: ["{{ vault_gitlab_prometheus_token }}"]
    static_configs:
    - targets: ['gitlab.archlinux.org:443']
      labels:
        instance: "gitlab.archlinux.org"
